<div class="row">
  <p> </p>
</div>
<div class="row align-items-center">
  <div class="col">
    <button
  (click)="generatePDF()"
    mat-flat-button
    color="primary"
    class="btn-new">
    Generar PDF
  </button>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <mat-form-field>
      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Buscar">
    </mat-form-field>
  </div>
</div> 
<div id="Table1" #Table1>
  <h1>Actividad Realizada</h1>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    
    <ng-container matColumnDef="Nro_Empleado" class = "align">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo del Empleado </th>
      <td mat-cell *matCellDef="let element"> {{element.Nro_Empleado}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Nombre" class="aling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Nombre del empleado </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Nombre}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Celular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Celular </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Celular}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Direccion </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Direccion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Horas_Extras">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Codigo de Horas Extras </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Horas_Extras}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Dias_Puntual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Dias Puntual </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Dias_Puntual}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Dias_Atrasado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Dias Atrasado </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Dias_Atrasado}} </td>
    </ng-container>

    <ng-container matColumnDef="Dias_que_Falto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Dias que Falto </th>
        <td mat-cell *matCellDef="let element" class="aling"> {{element.Dias_que_Falto}} </td>
    </ng-container>

    <ng-container matColumnDef="Dias_Totales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Dias Totales </th>
        <td mat-cell *matCellDef="let element" class="aling"> {{element.Dias_Totales}} </td>
    </ng-container>
    <ng-container matColumnDef="Años_De_Antiguedad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Años De Antiguedad </th>
        <td mat-cell *matCellDef="let element" class="aling"> {{element.Anhos_De_Antiguedad}} </td>
    </ng-container>
    <ng-container matColumnDef="Mes_de_informacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Mes de informacion </th>
        <td mat-cell *matCellDef="let element" class="aling"> {{element.Mes_de_informacion}} </td>
    </ng-container>
  <!--
    <ng-container matColumnDef="Rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.Rol}} </td>
    </ng-container>

    <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.Departamento}} </td>
    </ng-container>


    -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>