<div class="table-button-row">
    <button
    (click)="onOpenModal()"
      mat-flat-button
      color="primary"
      class="btn-new">
      Agregar Nuevo Acceso
    </button>
  </div>
  <!--"
      -->

      <h1 >Cuentas Web</h1>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="Cod_Admi"
    class="aling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de Usuario </th>
      <td mat-cell *matCellDef="let element"
      class="aling"> {{element.Cod_Admi}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="User_Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
      class="aling"> Nombre de Usuario </th>
      <td mat-cell *matCellDef="let element"
      class="aling"> {{element.User_Name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="User_Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
      class="aling"> Email </th>
      <td mat-cell *matCellDef="let element"
      class="aling"> {{element.User_Email}} </td>
    </ng-container>
  
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Cod_Emp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
      class="aling"> Codigo de Empleado </th>
      <td mat-cell *matCellDef="let element"
      class="aling"> {{element.Cod_Emp}} </td>
    </ng-container>

    <ng-container matColumnDef="Acceso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header 
      class="aling"> Tipo de Acceso </th>
      <td mat-cell *matCellDef="let element" 
      class="aling"> {{element.Acceso}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="table-button-row">
          <button mat-flat-button color = "accent" (click)="onOpenModal(element)" class="btn-new" 
          class="aling">Editar</button>
          <button mat-flat-button color = "warn" (click)="onDelete(element.Cod_Admi)" 
          class="aling">Eliminar</button>
        </div>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  