  <div class="row">
    <p> </p>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <button
      (click)="onOpenModal()"
        mat-flat-button
        color="primary"
        class="btn-new"
        >
        Agregar Nuevo Tipo de Sueldo
      </button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <mat-form-field>
        <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Buscar">
      </mat-form-field>
    </div>
  </div>
  <!--"
      -->
      <h1>Tipos de Sueldos</h1>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="Cod_Sueldo" class="aling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Codigo del Sueldo </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Cod_Sueldo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Cant_Sueldo_Dia" class="aling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="aling"> Cantidad de dinero por dia </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Cant_Sueldo_Dia}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Cant_Sueldo_Horas_Extras">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de dinero por horas Extras </th>
      <td mat-cell *matCellDef="let element" class="aling"> {{element.Cant_Sueldo_Horas_Extras}} </td>
    </ng-container>
  
    
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="table-button-row">
          <button mat-flat-button color = "accent" class="btn-new" (click)="onOpenModal(element)" class="aling">Editar</button><!-- -->
          <button mat-flat-button color = "warn" (click)="onDelete(element.Cod_Sueldo)" class="aling">Eliminar</button>
        </div>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
