<mat-nav-list >
    <mat-list-item mat-icon-button (click)="refresh()">
        <mat-icon>update</mat-icon>
    </mat-list-item>
    <mat-list role="list" *ngIf="Rol =='Admi'">
        <mat-list-item role="listitem" routerLink="" >Home</mat-list-item>
        <mat-list-item role="listitem" routerLink="/empleados">Empleados</mat-list-item>
        <mat-list-item role="listitem" routerLink="/sueldos">Sueldos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/departamentos">Departamentos </mat-list-item>
        <mat-list-item role="listitem" routerLink="/descuentos">Descuentos</mat-list-item>
        <mat-list-item role="listitem"routerLink="/impuestos">Impuestos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/roles">Roles</mat-list-item>
        <mat-list-item role="listitem" routerLink="/admin" >Cuentas Web</mat-list-item>
        <mat-list-item role="listitem"  routerLink="/factura">Facturas</mat-list-item>
        <mat-list-item role="listitem"  routerLink="/sueldo">Sueldos a pagar</mat-list-item>
        <mat-list-item role="listitem" routerLink="/actividad">Actividad Empleados</mat-list-item>
        <mat-list-item role="listitem">Empleado Info</mat-list-item>
        <mat-list-item role="listitem" routerLink="/actividadEmp">Actividad</mat-list-item>
        <mat-list-item role="listitem" routerLink="/descuento-emp" >descuentos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/impuesto-emp">Impuestos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/beneficioEmp" >Beneficios</mat-list-item>
        <mat-list-item role="listitem" routerLink="/sueldoTotalEmp" >Sueldo total a cobrar</mat-list-item>
        <mat-list-item role="listitem" routerLink="/FacturasEmp" >Facturas</mat-list-item>
        <mat-list-item (click)="onExit()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-link">Exit</span>
        </mat-list-item>
    </mat-list>
    <mat-list role="list" *ngIf="Rol =='Empleado'">
        <mat-list-item role="listitem" >Home</mat-list-item>
        <mat-list-item role="listitem" routerLink="/actividadEmp">Actividad</mat-list-item>
        <mat-list-item role="listitem" routerLink="/descuento-emp" >descuentos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/impuesto-emp">Impuestos</mat-list-item>
        <mat-list-item role="listitem" routerLink="/beneficioEmp" >Beneficios</mat-list-item>
        <mat-list-item role="listitem" routerLink="/sueldoTotalEmp" >Sueldo total a cobrar</mat-list-item>
        <mat-list-item role="listitem" routerLink="/FacturasEmp" >Facturas</mat-list-item>
        
        <mat-list-item (click)="onExit()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-link">Exit</span>
        </mat-list-item>
    </mat-list>
    <mat-list role="list" *ngIf="Rol =='PE'">
        <mat-list-item role="listitem">Info</mat-list-item>
        <mat-list-item (click)="onExit()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-link">Exit</span>
        </mat-list-item>
    </mat-list>
    
</mat-nav-list>
